.input {
    input {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin-bottom: 6px;
        width: 100%;
        transition: .1s ease-in-out;
        &:focus{
          outline: 2px solid #1a95f0;
        }
    }
}